html, body {
  min-height: 100%;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  min-width: 960px;
  position: relative;
}

#content {
  padding: 120px 0px 45px;
}

#header, #footer {
  position: absolute;
}

.page-content {
  margin-bottom: 45px;
}


.marked {
  color:#fff;
  background: rgba( 76, 106, 117, 0.8 );
  line-height: 1.3em;
  margin: 20px 0px;
}

._button {
  display: inline-block;
  height: 20px;
  padding-left: 20px;
  padding-right: 30px;
  font: 14px/20px 'PFBeauSansProBlackRegular', Arial, sans-serif;
  color: white !important;
  background: #8e8e8e;

  &:hover {
    color: black !important;
    background: white;
  }

  &._button_150 {
    min-width: 100px;
  }
}

._button_list {
  display: inline-block;

  + ._button_list {
    margin-left: 20px;
  }

  ._button {
    display: table;

    + ._button {
      margin-top: 5px;
    }
  }
}

.share-box .button {
  text-transform: uppercase;
}

.page-content.semi-narrow.semi-transparent {
  p {
    font-size: 16px;
    line-height: 20px;
  }
}

div.gallery {  
  .gallery-title {
    width: 477px;
    float: left;
  }

  > a { 
    width: 230px;
    height: 230px;
    display: inline-block;
    margin: 7px 7px 0px 0;
    position: relative;

    .fade {
      position: absolute; 
      left: 0; 
      top: 0;
      right: 0;
      bottom: 0;
      display: none;
      background: url(/images/bg_green_70.png);
    }

    &:hover {
      .fade { 
        display: block;
      }
    }

    .descr {
      margin: 7px;
      font: 2.6em 'PFBeauSansProThinRegular',sans-serif;
      color: white;

      .year {
        font-family:'PFBeauSansProBlackRegular',Arial,sans-serif;
      }
    }
  }
}