html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, table, tr, th, td, input, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-size: 62.5%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #414141;
  line-height: 1.3;
}

a
{ 
  text-decoration: none;
  color: #583ea7;
}
