// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
//= require_tree ./admin_lib
@import "active_admin/mixins";
@import "active_admin/base";

div.mce-container.mce-tinymce{
	display: inline-block;
}


@import
'local/common/reset',
'local/common/ie',
'local/common/main',
'local/common/main_1',
'local/common/background',
'local/views/main/index_0',
'local/views/main/index_1',
'local/views/news/news';

body {
  text-align: left;
  font-size: 12px;
}

#header {
  position: static;
  height: 70px;
  font-size: 15px;

  li.current a, li:hover a {
    color: #C41C2B !important;
    background: none !important;
  }
}

#main_content_wrapper {
  padding-bottom: 60px;
}

#footer {
  height: 35px;
  padding: 0px;
  text-align: center;
}

#content {
  position: static;
}