@import "active_admin/mixins";
@import "active_admin/base";
@import "admin_lib/*";

@import
'local/common/reset',
'local/common/ie',
'local/common/main',
'local/common/main_1',
'local/common/background',
'local/views/main/index_0',
'local/views/main/index_1',
'local/views/news/news';

body {
  text-align: left;
  font-size: 12px;
}

#header {
  position: static;
  height: 70px;
  font-size: 15px;

  li.current a, li:hover a {
    color: #C41C2B !important;
    background: none !important;
  }
}

#main_content_wrapper {
  padding-bottom: 60px;
}

#footer {
  height: 35px;
  padding: 0px;
  text-align: center;
}

#content {
  position: static;
}